.dispatch-orders-table-container,
.ep-batch-shipments-table-container {
    overflow-x: scroll;
    overflow-y: scroll;
    background-color: white;
    border-radius: 2px;
}

.dispatch-orders-table-container .table,
.ep-batch-shipments-table-container .table {
    width: max-content;
}



.dispatch-orders-label,
.ep-batch-shipments-label {
    display: inline-block;
}